fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
supabase
python-multipart
numpy
pandas
scikit-learn
lightgbm
torch
torchvision
requests
httpx
sqlalchemy
shap
reportlab
matplotlib
plotly
Jinja2
